@model Proyecto_Final.Models.ViewModels.Sesion
@{
    ViewBag.Title = "Login";
}

@Html.ValidationSummary()
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6">
<form action="~/Cuenta/validacion" method="post" class="formulario-ingreso ml-auto mr-auto">
          <div class="form-group">
            <div class="row div-h3">
              <div class="col-12">
                <h3>Ingreso</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label >Correo electr칩nico </label>
                @Html.TextBoxFor(m=>m.Correo, new { @class = "form-control", type = "email" })
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label for="">Contrase침a </label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <input type="checkbox" onclick="mostrarPass()" class=""> Mostrar contrase침a.
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <input type="checkbox" class=""> Recordar contrase침a.
              </div>
            </div>
            <div class="row div-btn-registrar">
              <div class="col-12 form-group">
                <button type="submit" class="btn btn-registrar">Iniciar</button>
              </div>
            </div>
          </div>    
        </form>
</div>
<div class="col-md-3">

</div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
            function mostrarPass() {
                var x = document.getElementById("pass");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
    </script>