<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<form class="formulario-registro">
          <div class="form-group">
            <div class="row div-h3">
              <div class="col-12">
                <h3>Registro</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label for="">Nombres *</label>
                <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label for="">Apellidos *</label>
                <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label for="">Correo electrónico *</label>
                <input type="email" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label for="">Teléfono *</label>
                <input type="textw" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label for="">Contraseña *</label>
                <input type="password" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <input type="checkbox" class=""> He leído y acepto los Términos y Condiciones así como las Políticas de Privacidad de Maribel SAC.
              </div>
            </div>
            <div class="row div-btn-registrar">
              <div class="col-12">
                <button type="submit" class="btn btn-registrar">Registrar</button>
              </div>
            </div>
          </div>    
        </form>
</div>
<div class="col-md-2"></div>
</div>