


@{
    ViewBag.Title = "Confirmacion";
}

<div class="bg-title bg-contacto">
        <div class="title">
            CONFIRMACION
        </div>
</div>

<p class="display-4 text-center mt-4"> Hemos recibido su mensaje. Recibira la respuesta a la brevedad. <br>Gracias .</p>
