


@{
    ViewBag.Title = "Confirmacion";
    var contacto = (Proyecto_Final.Models.Entidades.Contacto)ViewData["Contacto"];
}

<div class="bg-title bg-contacto">
        <div class="title">
            CONFIRMACION
        </div>
</div>

<p class="display-4 text-center mt-4">@contacto.Nombre Hemos recibido su mensaje. Recibira la respuesta a la brevedad. </br>Gracias .</p>
