@using Proyecto_Final.Models.Entidades;
@{
    ViewBag.Title = "Confirmacion";

    Contacto contacto = (Contacto)ViewData["contacto"];
}

<h2>Confirmacion</h2>
<p>Estimado(a) @contacto.Nombre, hemos recibido su mensaje. Recibira la respuesta a la brevedad. </br>Gracias .</p>
