@{
    ViewData["Title"] = "Nosotros";
}

<div class="bg-title bg-nosotros">
    
        <div class="title">
            NOSOTROS
        </div>
        

</div>

<div class="quienes-somos col-12">
    <div class="row">
        <div class="quienes-somos-title bg-title-sm col-md-6">
            <h1 class="title">Quienes somos?</h1>
        </div>
        <div class="quienes-somos-txt bg-title-sm col-md-6">
            <p class="pl-5 pr-5">Somos una empresa dedicada a la satisfacción de nuestros clientes al ofrecerles menus
            criollos y sobre todo una experiencia agradable que los hará querer volver a nuestro
            local.</p>
        </div>
    </div>
</div>

<div class="quienes-somos col-12">
    <div class="row">
        <div class="mision-txt bg-title-sm col-md-6">
            <p class="pl-5 pr-5">Ofrecer a sus clientes, en especial universitarios, alimentos de calidad con una excelente
            relación, precio cómodo, beneficios; así como un servicio orientado a satisfacer y
            superar sus expectativas.</p>
        </div>
        <div class="mision-title bg-title-sm col-md-6">
            <h1 class="title">Misión</h1>
        </div>
        
    </div>
</div>

<div class="quienes-somos col-12">
    <div class="row">
        <div class="vision-title bg-title-sm col-md-6">
            <h1 class="title">Visión</h1>
        </div>
        <div class="vision-txt bg-title-sm col-md-6">
            <p class="pl-5 pr-5">Ser una reconocida cadena de restaurante por el servicio brindado y por la calidad de
            platos elaborados.</p>
        </div>
    </div>
</div>
