<div class="row">
    <div class="formulario-reserva col-md-6">
        <h1 class="display-5 mt-5 text-center">Reserva</h1>
        <div class="form-group">
            <div class="row">
                <div class="h5 font-weight-normal col-md-4">
                    Numero de Reservas:
                </div>
                <div class="col-md-7">
                    <select class="form-control">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="row mt-4">
                <div class="h5 font-weight-normal col-md-4">
                    Platos:
                </div>
                <div class="col-md-7">
                    <select class="form-control">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="row mt-4">
                <div class="h5 font-weight-normal col-md-4">
                    Fecha:
                </div>
                <div class="col-md-7">
                    <input type="date" class="form-control">
                </div>
            </div>
            <div class="row mt-4">
                <div class="h5 font-weight-normal col-md-4">
                    Almuerzo:
                </div>
                <div class="col-md-7">
                    <label class="switch">
                      <input type="checkbox" name="" id="pass" class="form-control form-control-sm col-4" placeholder="" aria-describedby="helpId">
                      <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row mt-4">
                <div class="h5 font-weight-normal col-md-4">
                    Cena:
                </div>
                <div class="col-md-7">
                    <label class="switch">
                      <input type="checkbox" name="" id="pass" class="form-control form-control-sm col-4" placeholder="" aria-describedby="helpId">
                      <span class="slider round"></span>
                    </label>
                </div>
            </div>
            
        </div>
    </div>

    <div class="formulario-contacto-mensaje col-md-6">
        
        <div class="form-group">
            
            <div class="row">
                <div class="col-md-12 mt-md-5">
                    <div class="col-md-10 mt-3" rows="8" cols="50"><img height="400" width="400" class="form-control" src="~/images/menu.jpg"></div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <div class="row">
                <button type="submit" class="btn btn-contacto-enviar pt-3 pb-3 pl-5 pr-5 ml-auto mr-auto">Enviar</button>
            </div>    
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>