
.navbar{
    font-family: 'Pacifico', cursive;
}


.navbar{
    background-image: linear-gradient(#291904, #714608);

}

.navbar a{
    color:#C38511;

}

.bg-title{
    width: 100%;
    height: 337px;
    background-attachment: initial;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: table;
    text-align: center;
    
}

.bg-nosotros{
    background-image: url(../images/nosotros.jpg);
}

.bg-contacto{
    background-image: url(../images/contacto.jpg);
}

.bg-reserva{
    background-image: url(../images/reserva.jpg);
}

.title{
    font-size: 30px;
    display: table-cell;
    color: white;
    vertical-align: middle;
    font-family: 'Acme', sans-serif;
    letter-spacing: 2px;
}



.btn-iniciars{
    background-color: #C38511;
    color: #714608;
}

.btn-iniciars:hover{
    background-color:#9C6F1A;
    -webkit-transition: background-color 0.5s;
}


.formulario-contacto h1{
    color:#714608;
 
}

.formulario-contacto-mensaje{
    color:#714608;
    margin-top: 1.5%;
}

.formulario-reserva h1{
    color: #714608; 
}

.form-group{
    padding: 30px;
}

.form-control{
    margin-bottom: 10px;
}

.formulario-reserva .form-group .form-control{
    margin-bottom: 20px;
}

.form-control:focus{
    outline: none !important;
}

.div-btn-registrar{
    margin-top: 20px;
    text-align: center;
}

.btn-registrar{
    background-color:#C38511;
    color: white;
    width: 100%;
    height: 120%;
}

.btn-registrar:hover{
    background-color: #9C6F1A;
    -webkit-transition: background-color 0.5s;
}

.btn-contacto-enviar{
    background-color: #714608; 
    color: white;    
}

.btn-contacto-enviar:hover{
    background-color: #3f2705;
    -webkit-transition: background-color 0.5s;
}

.div-h3{
    text-align: center;
    color: #714608;
}

h3{
    margin-top: -20px;
}

.quienes-somos{
    margin-top: 2%;
    
}

.bg-title-sm{
    text-align: center;
    display: table;
    height: 250px;
    color: white;
 
}

.quienes-somos-title{
    border-left: 2px solid #714608;
}

.quienes-somos-title .title{
    color: #714608;
}

.quienes-somos-txt{
    background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/quienes-somos.jpg);
    background-attachment: initial;
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-position: center;
}

.quienes-somos-txt:hover{
    background-size: 110% 160%;
    transition: 0.5s;
}

.mision-title{
    border-right: 2px solid #714608;
}

.mision-title .title{
    color: #714608; 
}

.mision-txt{
    background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/mision.jpg);
    background-attachment: initial;
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-position: center;
}

.mision-txt:hover{
    background-size: 110% 160%;
    transition: 0.5s;
}


.vision-title{
    border-left: 2px solid #714608;
}

.vision-title .title{
    color: #714608;
}

.vision-txt{
    background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/vision.jpg);
    background-attachment: initial;
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-position: center;
    
}

.vision-txt:hover{
    background-size: 110% 160%;
    transition: 0.5s;
}


.bg-title-sm p{
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    line-height: 200%;
    font-family: 'Signika', sans-serif;
}



/* The switch - the box around the slider */
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
  /* Hide default HTML checkbox */
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider{
    background-color: #2196F3;
}
  
input:focus + .slider{
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round{
    border-radius: 34px;
}
  
.slider.round:before{
    border-radius: 50%;

}

.calendario{
    margin-left: 20px;
    vertical-align: middle;
}

.navbar div{
    color: white;
}

.page-footer{
    margin-top: 2%;
    background: black;
    color: white;
}

.page-footer li{
    text-decoration: none;
    list-style-type: none;

}

.page-footer ul{
    padding: 0;
}

.page-footer h5{
    color: #C38511; 
}

.page-footer .fab{
    color: white;
}

.lista-siguenos li{
    display: inline;
    padding: 2%;
}

.lista-siguenos{
    margin-top: 5%;
}

.inicio-bg-title-sm{
    height: 300px;
    width: 100%;
    background-position: center;
    background-attachment: initial;
    background-size: 95% 100%;
    background-repeat: no-repeat;
    margin-top: 2%;
}

.inicio-bg-title-sm h1{
    color: #2c1b04;
    margin-top: 50px;
    margin-left: 20px;
}

.inicio-bg-title-sm-1{
    background-image: url(../images/entradas.jpg);
    
}

.inicio-bg-title-sm-2{
    background-image: url(../images/ensaladas.jpg);
}

.inicio-bg-title-sm-3{
    background-image: url(../images/guarniciones.jpg);
}

.inicio-bg-title-sm-4{
    background-image: url(../images/postres.jpg);
}

.inicio-bg-title-sm-5{
    background-image: url(../images/bebidas.jpg);
}

.inicio .col-12{
    padding-left: 0;
    padding-right: 0;
}

.carousel h1{
    margin-bottom: 30%;
    font-family: 'Pacifico', cursive;
    background: -webkit-linear-gradient(#714608, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

